body {
    padding-top: 70px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.flash.success {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #cfe0f9;
    border: 1px solid #375a7f;
    color: #375a7f;
    padding: 10px;
    border-radius: 5px;
}
.flash.error {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffcccc;
    border: 1px solid #dc3545;
    color: #dc3545;
    padding: 10px;
    border-radius: 5px;
}

.navbar-nav li a {
    font-size: 18px !important;
    color: white !important;
}
.navbar {
    padding: 10px !important;
}
.navbar-nav li a:hover {
    color: #9FA6B2 !important;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  background-color: #375a7f !important;
  color: #fff !important;
}

.profile {
    color: white !important;
    text-decoration: none !important;
}
.profile:hover {
    color: whitesmoke !important;
}

.friends {
    color: white !important;
    font-weight: bold !important;
}
.friends:hover {
    color: white !important;
    text-decoration: underline !important;
}

.chat-bubble {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 80%;
  margin-top: 5px;
  word-wrap: break-word;
}
.user-bubble {
  background-color: #59A96A; 
}
.llm-bubble {
  background-color: #375a7f; 
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
  }
  
  @keyframes spinner-border {
    100% {
      transform: rotate(360deg);
    }
  }
  