{% extends 'base.html' %}

{% block title %} - Settings{% endblock %}

{% block content %}

<div class="container-fluid mt-5">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white h4"><img src ="{{ photos_folder + current_user.photo}}" alt="" width="80" height="80"> @{{ current_user.username }}</div>
                <div class="card-body text-left">
                    <form action="/settings" method="post" enctype="multipart/form-data">
                        <div class="form-group row">
                            <label for="nameInput" class="col-md-4 col-form-label text-md-right">Name</label>
                            <div class="col-md-6">
                                <input type="text" name="name" class="form-control" id="nameInput" value="{{ current_user.name }}" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="bioInput" class="col-md-4 col-form-label text-md-right">Bio</label>
                            <div class="col-md-6">
                                <textarea class="form-control" name="bio" id="bioInput" rows="5">{{ current_user.bio }}</textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="photoInput" class="col-md-4 col-form-label text-md-right">Photo</label>
                            <div class="col-md-6">
                                <input type="file" name="photo" id="photoInput" class="form-control">
                                <div class="text-center my-2">or</div>
                                <input type="text" name="photo_url" id="photoUrlInput" class="form-control" placeholder="Enter image URL">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="currentpasswordInput" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input type="password" name="currentpassword" class="form-control" id="currentpasswordInput" placeholder="" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="newpasswordInput" class="col-md-4 col-form-label text-md-right">New Password</label>
                            <div class="col-md-6">
                                <input type="password" name="newpassword" class="form-control" id="newpasswordInput" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}