{% extends "base.html" %}
{% block title %} - Search users{% endblock %}

{% block content %}

<div class="container-fluid mt-5">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Search users</h4>
                </div>
                <div class="card-body">
                    <form action="/users" method="get">
                        <div class="form-group row mx-sm-3 mb-2">
                            <div class="col">
                                <input type="text" class="form-control" id="search" name="search" placeholder="Search by username">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </form>
                    {% if query %}
                        {% autoescape false %}
                        {% if users|length > 1 or users|length == 0 %}
                            <h6>{{ users|length }} matches for {{ query }}</h6>
                        {% else %}
                            <h6>{{ users|length }} match for {{ query }}</h6>
                        {% endif %}
                        {% endautoescape %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center mt-4 mb-4">
        <div class="col-lg-6">
            {% autoescape false %}
            {% for u in users %}
                <div class="card mb-3 shadow">
                    <div class="card-header bg-primary text-white fw-bold h4">
                        <a href="{{ url_for('profile') }}?username={{ u.username }}" class="profile"> 
                            <img src="{{ photos_folder + u.photo }}" alt="" width="50" height="50">
                            @{{ u.username }}
                        </a>
                    </div>
                    <div class="card-body bg-secondary">
                        <h5 class="card-title">{{ u.name }}</h5>
                        {% if u.bio %}
                            <p class="card-text">{{ u.bio }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% endautoescape %}
        </div>
    </div>
</div>

{% endblock %}